torch==2.3.0
torchaudio==2.3.0
numpy==1.22.4
scipy==1.7.3
soundfile==0.12.1
librosa==0.10.1
einops==0.8.0
tqdm==4.65.2
pandas==2.2.2
matplotlib==3.5.1
joblib==1.1.0
kaldiio==2.18.0
mir_eval==0.7
pesq==0.0.4
pystoi==0.3.3
ptflops==0.7.4
thop==0.1.1.post2209072238
torchprofile==0.0.4